
<div class="feed-container">

{% for article in articles %}
  <div class="card-container">
    <div class="image-container">
      <img src="{{ article.avatar.url }}" alt="">
    </div>
    <div class="describ-container">
      <div class="elements">
        <span class="card-span"></span>
        <span class="article-title">{{ article.title }}</span>
        <span class="article-describ">{{ article.description|slice:'0:150'|safe  }}</span>
        <a href="{% url 'article' article.id %}" class="read-more-button">Read More</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p>No post yet</p>
{% endfor %}
{% if articles.count > 5 %}
<a href="#" class="load_more">Load More</a>
{% endif %}
</div>
