{% extends 'main.html' %}
{% load static %}
{% block content %}
<main>
    <div class="search_box">    
        <form class="search-container" method="GET" action="{% url 'home' %}">
            <input type="text" placeholder="Search for article" class="search" name="q" />
        </form>
    </div>

    <div class="mobile-search">
        <form class="mobile-search-form" method="GET" action="{% url 'home' %}">
            <input type="text" placeholder="Search for topic" name="q" />
        </form>
        <a href="#" class="search-btn " id="searchBtn" role="button">

            <svg id="openSearchbar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>

            <svg id="closeSearchbar"  xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-x-lg close-search-btn" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
            </svg>
            
        </a>
    </div>

<div class="home-container">

    <!-- Sidebar component -->
    {% include 'base/sidebar_component.html' %}
    <!-- Feed -->
    {% include 'base/feed_component.html' %}

    <!-- Activity feed -->
    <div class="social__activity">
    

    {% include 'base/social_media.html' %}
    </div>
</div>

<div class="latest-posts">
    {% include 'base/activity_component.html' %}
</div>
</main>
<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}