{% extends 'main.html' %}

{% block content %}

<main id="log" class="log-content">
    {% if page == 'login' %}
    <div class="log">
            <div class="login">
                <form method="POST">
                    {% csrf_token %}
                    <div class="title">Login</div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="example@mail.com">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="****************">
                    {% if messages %}
                    {% for message in messages %}
                        <div class="error box">
                            {{message}}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <span><a href="{% url 'forgot_password' %}" class="link-btn">Forgot password</a></span>
                    <button class="btn" type="submit">Sign In</button>
                </form>
                <span>Don't have an account? <a class="link-btn" href="{% url 'register' %}">Sign Up</a></span>
            </div>
    </div>
    {% else %}
    <div class="log">
            <div class="register">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="title">Register</div>
                    {% for field in form %}
                    <label for="">{{ field.label_tag }}</label>
                    {{field}}
                    <div class="help_text">{{field.help_text}}</div>
                    {% endfor %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="error box">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <button class="btn" type="submit">Sign Up</button>
                </form>
                <span>Do you already have an account ?<a class="link-btn" href="{% url 'login' %}">Sign In</a></span>
            </div>
    </div>
    {% endif %}
</main>


{% endblock %}

