{% extends 'main.html' %}

{% block content %}
<main class="log-content">
<div class="log">
    <div class="login">
        <form method="POST">
            {% csrf_token %}
            <div class="title">Reset password</div>
            {% for field in form %}
            <label for="">{{field.label_tag}}</label>
            {{field}}
            <div class="help_text">{{field.help_text}}</div>
            {% endfor %}
            {% if messages %}
            {% for message in messages %}
            <div class="error box">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <button class="btn" type="submit">Confirm</button>
        </form>
    </div>
</div>

</main>
{% endblock %}