<div class="sidebar-container">
    <h1>Topics</h1>
    <nav class="main-menu">
        <ul class="sidebar-list">
        
        <li>                                   
            <a href="{% url 'home' %}">
                <i class="fa fa-angle-right fa-lg"></i>
                <span class="nav-text">Hamisi</span>
            </a>
        </li>     
        {% for topic in topics %}   
        <li>                                   
            <a href="{% url 'home' %}?q={{topic.name}}">
                <i class="{{ topic.classname }}"></i>
                <span class="nav-text">{{ topic.name }}</span>
            </a>
        </li>     
        {% endfor %}

        </ul>
    </nav>
 </div>